<div class="row pt-5">
  <div class="col-12 col-sm-6 offset-sm-3 text-center">
    <h1 class="text-secondary">Dashboard</h1>

    <div class="row pt-5">
      <div class="col">
        <%= link_to "Download your PDF Blueprint Now", nil, class: "btn btn-lg btn-success" %>
      </div>
    </div>

    <div class="row pt-5">
      <div class="col">
        <div class="card">
          <div class="card-body shadow">
            <%= image_tag "robot-kit.png", class: "img-fluid" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
