<div class="section">
  <div class="row align-items-center justify-content-between">
    <div class="col-12 col-md-6 col-lg-5 section-intro">
      <h1 class="display-3">Build a stunning robot</h1>
      <span class="lead">A robust suite of step-by-step components revealed within the OcotoBlueprint. Ready to take it up a notch?</span>
    </div>
    <div class="col-12 col-sm-6 col-lg-7">
      <div class="card">
        <div class="card-body shadow">
          <%= image_tag "robot-kit.png", class: "img-fluid" %>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="section">
  <div class="row">
    <div class="col-12 text-center">
      <div class="text-secondary text-uppercase pb-4">Meet the future</div>
      <h2 class="display-4">Introducing a new way</h2>
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2">
          <span class="lead">An opportunity to introduce the major benefits of your product and set the scene for what's to come.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-12 col-sm-8 offset-sm-2 text-center">
      <div class="card">
        <div class="card-body shadow">
          <%= image_tag "robot-kit-2.png", class: "img-fluid" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-12 col-sm-10 offset-sm-1">
      <p class="text-center">
        <strong>The New Way</strong>
      </p>
      <p class="">
        Listing all of the benefits, in the form of features, that remove pain from a potential
        customers life once they purchase your product.

        Since this Template all built on
        <a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" target="_blank">Bootstrap 4</a> there are ton's of
        <a href="https://getbootstrap.com/docs/4.3/components/card/#card-groups" target="_blank">components</a>
        to help you quickly, and easily do this.
      </p>
    </div>
  </div>
</div>

<hr>

<div class="section">
  <div class="row">
    <div class="col-12 text-center">
      <div class="text-secondary text-uppercase pb-4">Welcome home</div>
      <h2 class="display-4">Greatly simplified DIY kits</h2>
      <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2">
          <span class="lead">An opportunity to demonstrate how that pain mentioned above is quickly, and easily removed from their lives once they purchase your product.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-12 col-sm-8 offset-sm-2 text-center">
      <div class="card">
        <div class="card-body shadow">
          <%= image_tag "robot-kit-3.png", class: "img-fluid" %>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="section">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="display-4">Don't even bother waiting</h2>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-12 col-sm-8 offset-sm-2 text-center">
      <%= link_to "Get Started Now", pricing_path, class: "btn btn-lg btn-success" %>
    </div>
  </div>
</div>
